.div-1 {
    background-color: lightblue; 
  }
     
.div-2 {
    background-color: greenyellow; 
  }
     
.div-3 {
    background-color: lightgreen; 
  }


/* a tags*/

a{
    color: darkgreen;
  }
  

/* hover*/

h1:hover{
    background-color: yellow;
  }

/* define at least 2 class selectors and 1 idselector*/

/*class*/
.div-1{
    font-style: oblique;

  }
/*class*/
ol.ord_list1{
    font-style: italic;
/* frog ally*/
}


img#imgFrog{
    border-radius: 50%;
}
  /* Webpage must contain 

  Every HTML 
  
  contain a Facebook like button (at least one of these like buttons must have >5 likes)
  
  The CSS file must:
  * use the @media rule to modify some attribute for small screen sizes
  */
  
  
  @media only screen and (max-width: 600px) {
  body {
    font-size: xx-large;
  }
}
  
  
  
  